header
{
background:orange;
padding: 1em;
font-size: 18px;
}

header ul  
{
list-style: none;
margin: 0;
padding: 0;

}
header ul li 
{
display: inline-block;
}

header ul li a
{
	text-decoration: none;
	color: white;
	margin: 3px;
	padding: 1em;
} 
#portada
{
margin: 0;
padding: 0;
}

#portada #portadita
{
margin: 0;
padding:0;
}

#portada #portadita img
{
	width: 100%;
	margin: 0;
	padding:0;
}

#restaurantes 
{
margin: 0;
padding:0;
}

#restaurantes #elige
{
margin: 0;
padding: 0;
}

#restaurantes #elige #eligeunrestaurante img
{
	width: 50%;
	padding: 0;
	margin-top: 20%;
	text-align: center;
	margin: 0;
	margin-left: 30%;
	margin-top: 20%;
	margin-bottom: 10%;
	padding: 0;
}

#restaurantes #barraverde #feedbackeatsy
{
margin: 0;
padding: 0;
}

#restaurantes #barraverde #feedbackeatsy img
{   
width: 100%;
}



/*///////////////////////
Empieza fila de restaurantes 1
///////////////////////*/


.fila1 
{
display: inline-block;
margin: 0;
padding: 0;
margin-right: 0;
width: 20%;
margin-right: 10%;
margin-left: 10%;
}

.fila1 ul li .imagenrestaurantes
{
padding: 0;
margin: 0;
}

.fila1 ul li .imagenrestaurantes img
{
width: 100%;
margin-bottom: 30%
}


.fila1 ul 
{
list-style: none;
display: inline-block;
margin-right: 0;
padding: 0;
}





/*//////////////////////////////
Empieza columna 2
/////////////////////////////*/

.fila2
{
display: inline-block;
margin: 0;
padding: 0;
width: 20%;
margin-right: 10%;
}

.fila2 ul li .imagenrestaurantes
{
padding: 0;
margin: 0;
}

.fila2 ul li .imagenrestaurantes img
{
width: 100%;
margin-bottom: 30%
}

.fila2 ul 
{
list-style: none;
display: inline-block;
padding: 0;
}




/*///////////////////////
Empieza fila de restaurantes 3
///////////////////////*/


.fila3
{
display: inline-block;
margin: 0;
padding: 0;
width: 20%;
}

.fila3 ul li .imagenrestaurantes
{
padding: 0;
margin: 0;
}

.fila3 ul li .imagenrestaurantes img
{
width: 100%;
margin-bottom: 30%
}

.fila3 ul 
{
list-style: none;
display: inline-block;
padding: 0;
}










